body{
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  color: white;
  font-family: 'Oswald', sans-serif;
}

*{
  padding: 0;
  margin: 0;
  font-size: 16px;
}

section{
  height: 100vh;
  background-position: center;
  /* background-attachment: fixed; */
  background-size: cover;
}


/* .scrolling-box{
  height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
} */


p.height-counter{
  position: fixed;
}



h1, h2{
  font-family: 'Oswald', sans-serif;
}

h1{
  color: white;
  font-size: 5em;
}

p{
  font-family: Georgia,serif;
  color: white;
  font-size: 1.1rem;
  line-height: 1.5rem;
}

div.container-welkom{
  padding-top: 10rem;
  padding-left: 5rem;
}

div.container-about{
  padding:10rem 16rem;
}

div.container-about h2{
  color: white;
  font-size: 2.7rem;
  text-shadow: -2px 0 1rem black;
}

div.scroll-indicator{
  position: fixed;
  top: 50vh;
  transform: translate(-50%, -50%);
  right: 3vw;
}


div.circle {
    /* background-color:white; */
    width: .7rem;
    height: .7rem;
    border-radius: 50%;
    margin-top: .3rem;
    border: white 1px solid;
    -webkit-transition: width 1s, height 1s;
    transition: width 1s, height 1s;
}

.white{
  background-color: white;
  width: 1rem;
  height: 1rem;
}

ul{
  list-style-type: none;
}

/* style sections */

section.welkom{
  background-position: top;
  background-image:  url('https://images.unsplash.com/photo-1475870434835-a633fd526088?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8da48ab1e815c6ba9ba42542567cd6ac&auto=format&fit=crop&w=1350&q=80');
}

section:nth-of-type(2){
  background-attachment: scroll;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('https://images.unsplash.com/photo-1486611367184-17759508999c?ixlib=rb-0.3.5&s=1d9a20d398d8a6df7eb0ba35c4b17dc6&auto=format&fit=crop&w=1266&q=80');
}

section:nth-of-type(3){
  background-attachment: scroll;
  background-color: #D81159;
  background-position: center;
  background-image: url('https://images.unsplash.com/photo-1501580121338-18e859f87400?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=979de881b3346f9ab13eacfd08535cfa&auto=format&fit=crop&w=1350&q=80');
}

section:nth-of-type(4){
  background-attachment: scroll;
  background-position: top;
  background-color: #FFBC42;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('http://www.etonline.com/sites/default/files/images/2018-02/r1308_cov_boseman.jpg');
}

section:nth-of-type(5){
  background-attachment: scroll;
  background-color: #44FFD2;
  background-image: url('https://images.unsplash.com/photo-1518362165686-c587a1de1003?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=46583d88104bb6f4fc222747b47ad66d&auto=format&fit=crop&w=1350&q=80');
}

section:nth-of-type(6){
  background-attachment: scroll;
  background-color: #19B5FE;
  background-image: url('https://images.unsplash.com/photo-1464666495445-5a33228a808e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a079e54712e88bef1c9e4463de87e15a&auto=format&fit=crop&w=1300&q=80');
}

section:nth-of-type(3):hover,section:nth-of-type(4):hover,section:nth-of-type(5):hover,section:nth-of-type(6):hover{
  box-shadow:
        inset 0px 15px 40px -10px #000,
        inset 0px -15px 40px -10px #000;
}

.project .button{
  top: 0vh;
}

.project .button:hover{
  top: -5vh;
}

.button{
  background-color: white;
    font-family: 'Oswald', sans-serif;
    color: black;
    font-size: 1rem;
    padding: .6rem;
    border: none;
    border-radius: 2rem;
    box-shadow: inset 0 -0.1875em 0.0625em #2e2e2e;
    flex-grow: 2;
    position: relative;
    top: 40vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    margin-bottom: 1rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow:
           0px 15px 40px -10px #000;
           -webkit-transition-property: top, bottom;
      -webkit-transition-duration: 0.5s;
      transition-property: top, bottom;
      transition-duration: 0.5s;
}

.button:hover{
  top: 35vh;
}

.button:active{
  box-shadow:
         inset 0px 15px 40px -10px #000;
}


.pmshow{
  /* width: 5rem;
  height: 5rem; */
  background-color: black;
}

div.progress-menu{
  height: 2rem;
  width: 2rem;
  position: fixed;
  background-color: white;
  border-radius: 1rem;
  top: 5vw;
  left: 50vw;
  transform: translate(-50%, -50%);
  /* transition: opacity .2s ease-out, max-height .2s ease-out, max-width .2s ease-out;
  opacity: 0; */
  /* overflow: hidden; */
}
/* p.progress-count{
  color: black;
  font-size: 1rem;
} */

.progress-slash{

}

a.links, a.highlight{
  text-decoration: none;
  color: white;
  text-shadow: -2px 0 1rem black
}

a.highlight{
  font-size: 1.5rem;
}




/* tablet */

@media only screen and (max-width: 60em) and (min-width: 30em){


  div.container-welkom{
    padding-top: 5rem;
    padding-left: 5rem;
  }

  div.container-about{
    padding:5rem;
  }

}

@media (max-width: 30em){

  div.container-welkom{
    padding:2rem;
  }

  div.container-about{
    padding:2rem;
  }

}
